<div class="container wide">
        <div  class="row equal" >
          <div *ngFor="let reservation of reservationService.reservations" class="col-md-6 ">
            <div class="widget">
              <div class="panel panel-default ">
                <div class="panel-heading">{{ reservation.startDate.toLocaleString("en-GB") }} - {{ reservation.endDate.toLocaleString("en-GB") }}</div>
                <div class="panel-body">
                  <p>{{ reservation.reason }}</p>
                  <br>
                  <p></p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success" *ngIf="!reservation.approved" (click)="approveReservation(reservation)">{{"RESERVATION_APPROVE" | translate}}</button>
                    <button class="btn btn-danger" (click)="removeReservation(reservation)">{{"COMMON_REMOVE" | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>