<div class="container">

  <form class="form-signin" (submit)="login()">
    <h2 class="form-signin-heading">{{'LOGIN_TITLE' | translate}}</h2>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">{{"LOGIN_USERNAME"|translate}}</label>
      <input type="email" id="inputEmail" class="form-control" [placeholder]="'LOGIN_USERNAME'|translate" name="email" [(ngModel)]="email" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">{{"LOGIN_PASSWORD"|translate}}</label>
      <input type="password" id="inputPassword" class="form-control" [placeholder]="'LOGIN_PASSWORD'|translate" name="password" [(ngModel)]="password" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{'LOGIN_LOGIN' |translate}}</button>
  </form>

</div> <!-- /container -->
